* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(115, 115, 25, 0.7);
  width: 650px;
  height: 750px;
  margin: 0 auto;
}
