.user_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0 auto;
  background-color: rgb(23, 236, 165);
  width: 600px;
  height: 710px;
  gap: 70px;
  transition: box-shadow 0.1s ease-in-out;
  box-shadow: 0px 0px 8px rgba(0, 255, 0, 0.6),
    0px 0px 12px rgba(0, 255, 0, 0.4);
}

.user_container:hover {
  box-shadow: 0px 16px 32px rgba(228, 231, 78, 0.8);
}
.user_container > p {
  font-size: 20px;
}

.user_container > button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(120, 27, 10);
  color: beige;
  cursor: pointer;
}
